/* Apply basic styles to reset default spacing and box model for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set the background color of the entire page */
body {
    background-color: hsl(47, 88%, 63%);
}

/* Style for the main container of the blog preview card */
.maincontainer {
    background-color: hsl(47, 88%, 63%);
    height: 100vh;
    width: 100wh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Styles for the container housing the blog preview card */
.container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 370px; /* Set initial and maximum width of the container */
    height: 33rem;
    min-width: 370px;
    background-color: hsl(0, 0%, 100%); /* Background color for the container */
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 5px 5px 0px rgb(10, 9, 9); /* Box shadow for a subtle lift */

    /* Remove box shadow on hover for a cleaner look */
    &:hover {
        box-shadow: none;
    }
}

/* Styles for the image and SVG element inside the container */
.image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.images {
    border-radius: 20px;
    width: 21rem;
}

/* Styles for the button inside the container */
button {
    width: 25%; /* Set the width of the button to 50% of its container */
    height: auto;
    margin-top: 20px;
    margin-bottom: 5px; /* Add bottom margin for spacing */
    background-color: hsl(47, 88%, 63%); /* Background color for the button */
    border: none; /* Remove border */
    padding: 8px; /* Add padding for a comfortable touch */
    border-radius: 5px;
    font-weight: bold;
}

/* Styles for the footer section containing the author information */
.footer {
    display: flex; /* Use flexbox for layout */
    margin-top: 10px; /* Add top margin for spacing */
}

/* Styles for the author name in the footer */
.footer > strong {
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Align items in the center vertically */
    margin-left: 10px; /* Add left margin for spacing */
}
